header{
    background-color:blue;
    text-align: center;
    padding-bottom: 40px;
}
nav{
    padding-top: 10px;
    padding-right: 8px;
    text-align: right;
    color:white;
}
nav h2{
    display: inline;
    float: left;
    color:white;
    padding-left: 10px;
}
header form{
    padding: 0 20% 0 40%;
}
.card{
    border-radius: 10px;
    margin-left: 130px;
}
#design-card-right{
    margin-right: 10px;
}
main{
    padding-top: 20px;
    text-align: center;
}
.grid-container{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
}
#des .card :hover{
    transform: scale(1.5);
}
main form{
    padding: 0 20% 0 40%;

}
.form-rounded{
    border-radius: 1rem;
}
.box{
    width: 50%;
    text-align: center;
    margin: auto;
}
iframe{
    border-radius: 15px;
}
.contact{
    margin-left: 40px;
}
.buttonIn { 
    width: 100%; 
    position: relative; 
    padding-bottom: 10px;
} 
  
#enter { 
    margin: 0px; 
    padding-left: 4px; 
    width: 100%; 
    outline: none; 
    height: 40px; 
    border-radius: 1rem; 
} 
  
.buttonIn button { 
    position: absolute;
    display: inline-block; 
    top: 0; 
    border-radius: 1rem; 
    right: 0px; 
    z-index: 2; 
    border: none; 
    height: 40px; 
    cursor: pointer; 
    color: white; 
    background-color:blue; 
    transform: translateX(2px); 
} 
header a{
    color: white;
}
footer a,h4{
    color: white;
}
footer{
    padding: 25px 0 15px 0;
    text-align: center;
    background-color:blue;
}
footer p{
    color: white;
}
.but{
    text-align: center;
}
